body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background: #171528;
  height: 10vh;
  width: 100%;
  position: fixed;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-footer {
  background: #171528;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

#brand-logo {
  list-style: none;
  display: inline-block;
  color: #fff;
  font-size: 30px;
  margin-left: 3vh;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
}

.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(https://media0.giphy.com/media/yjGdFYs9VmJcJCqKIM/giphy.gif?cid=ecf05e478d5182bcbd39b4b5eb07d4f61b5a673fbdb39134&rid=giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.content-welcome {
  width: 90%;
  height: 70%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-radius: 20px;
  margin-top: 10px;
}

/* Joseph's styling below */

form.signup,
form.login {
  margin-top: 50px;
}

.card {
  width: 70vh;
  height: 80vh;
  font-family: sans-serif;
  text-align: center;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  padding-top: 60px;
}

.card img {
  border-style: solid;
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
}
.birthday {
  padding-bottom: 20px;
}
