form.signup,
form.login {
  margin-top: 50px;
}

.bg
{

  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0,0.5),rgba(0,0,0,0.2)), url(../images/spacec.gif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.content {
  
  width: 90%;
  height: 70%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column
{
  width:28%;
  height:90%;
  flex-wrap:wrap;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  transition: 0.2s ease;
}

.column:hover{
  width: 30%;
  height: 100%;
}

.column:hover img{
  transform: rotate(30deg);
  transition: 2.5s ease; 
}
.column:clickable img{
  transform: rotateY(180deg);
}
.column .horoscope {
  width:100%;
  height:70%;
  background: #2c3e50;
  align-items: center;
  justify-content: center;
  display: flex;

}

.column .horoscope img{
  width:60%;

}

.column .bar
{
  width: 100%;
  height: 10%;
  background:#fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
}

.column .text
{
  width: 100%;
  height: 20%;
  background:#f0f0f0;
 justify-content:center;
 align-items: center;
 display: flex;
}
.column .text h4
{
  background-image: linear-gradient(to left,black,darkgray,blue,white);   -webkit-background-clip: text;
  color: transparent;
  width:70%;
  text-align: center;
  height: auto;
}