body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(https://media0.giphy.com/media/yjGdFYs9VmJcJCqKIM/giphy.gif?cid=ecf05e478d5182bcbd39b4b5eb07d4f61b5a673fbdb39134&rid=giphy.gif);
  background-repeat: repeat 1;
  background-size: 100%;
}

main {
  flex: 1 0 auto;
}

nav {
  background: #171528;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-footer {
  background: #171528;
  position: sticky;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -150px;
}

#brand-logo {
  list-style: none;
  display: inline-block;
  color: #fff;
  font-size: 30px;
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

#exploreHoroscope {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  padding-top: 5%;
}

#horoscope {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  padding-top: 5%;
}

.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(https://media0.giphy.com/media/yjGdFYs9VmJcJCqKIM/giphy.gif?cid=ecf05e478d5182bcbd39b4b5eb07d4f61b5a673fbdb39134&rid=giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.content {
  width: 40vh;
  height: 60vh;
  background: #333;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-radius: 10%;
  margin-top: 10px;
}

.column {
  margin: 10px;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10%;
  overflow: hidden;
  opacity: 0.8;
}

.content-welcome {
  width: 90%;
  height: 70%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-radius: 20px;
  margin-top: 10px;
}

/* Joseph's styling below */

form.signup,
form.login {
  margin-top: 50px;
}

.card {
  width: 40vh;
  height: 60vh;
  background: transparent;
  transform-style: preserve-3d;
  /* position: fixed; */
  /* display: flex; */
  transition: all 1.75s ease;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.front-card {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
}

.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  background: #243342;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  transform: rotateY(180deg);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.back-card h5 {
  color: white;
}
.back-card .text {
  margin-top:20px;
}
.card:hover {
  transform: rotateY(180deg);
}

.front-card:hover img {
  transform: rotate(30deg);
  transition: 2.5s ease;
}

.front-card .horoscope {
  width: 100%;
  height: 80%;
  background: #243342;
  align-items: center;
  justify-content: center;
  display: flex;
}

.front-card .horoscope img {
  width: 60%;
}

.front-card .bar {
  width: 100%;
  height: 20%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
}
/* 
.front-card .text {
  width: 100%;
  height: 20%;
  background: #f0f0f0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.front-card .text h4 {
  background-image: linear-gradient(to left, black, darkgray, blue, white);
  -webkit-background-clip: text;
  color: transparent;
  width: 70%;
  text-align: center;
  height: auto;
} */

#horoscopeParagraph {
  margin-top: -45px;
}

.sign-border {
  border: 3px solid rgb(255, 230, 128);
  border-radius: 13px;
}
.explore-bar {
  width: 100%;
  height: 20%;
  background: #fff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
}
.sign-info {
  margin-top: -15px;
}
